{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="row">
       <div class="col-lg-7 col-md-6">
          <div class="wthree-about-txt mb-lg-5 mb-md-4 mb-3">
             <h5>About Us</h5>
          </div>
          <div class="about-para-txt">
               <span id="dots"></span>                            
                  <p class="mt-2">Khushi ko Srijana is a Non-Governmental Organization built upon trusts, and relationships between 
                     heplers and those in need of a little push to achieve their goals and dreams.
                  </p>
               </span>                  
          </div>
          <div id="myBtn" class="view-price mt-lg-5 mt-md-4 mt-3" onclick="myFunction()">
             <a href="{% url 'single_about' %}" class=" scroll">About Us</a>
          </div>
       </div>
       <div class="col-lg-5 col-md-6 about-imgs-txt">
       </div>
    </div>
 </div>