{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">You can find us at:</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <p>
            Feel free to drop your messages.
        </p>
    </div>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="contact-address-grid mb-3">
            Our prime office locates at Jenla- 08 Bhaktapur,Bagmati-Nepal.
        </div>
        <div class=" footer-contact-list mb-2">
            Call us on:
            <a href="tel:+9779861112142" style="color:  rgb(0, 179, 129);">+977 986-1112142</a>
        </div>
        <div class=" footer-contact-list mb-2">
            Mail us at:
            <a href="mailto:bpin.nakarmi77@gmail.com" style="font-style:italic; color:  rgb(0, 179, 129);">bpin.nakarmi77@gmail.com</a>
        </div>
        <div class="icons mt-3 text-center">
            Follow us on:
            <ul class="d-flex justify-content-center pb-3 social-icons">
                <li>
                    <a href="https://www.facebook.com/">
                        <span class="fa fa-facebook-f"></span>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.twitter.com/">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="https://www.google.com/">
                        <span class="fa fa-google"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>