.style-banner {
    text-align: center;
    padding-top: 11em;    
}

.style-banner h4 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
    text-shadow: 2px -1px 4px #000;
}   

.row {
    color: #ffffff;
    margin-left: 7%;
    margin-right: 10%;
    width: 90%;
}

.margin_b {
    background-color: rgba(0, 179, 129, 0.7); 
    margin: 5px;
    width: 250px;
}

.margin_b:hover {
    transform: scale(1.1);
}

.cover_image img {
    height: 250px;
    width: 250px;
}

.cover_image p {
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
}

.blog_title {
    font-weight: bolder;
    font-size: 24px;
    padding: 5px;
}

.content_1 {
    padding: 5px;
}

.created_at, .author{
    font-style: italic;
    padding: 5px;
}

a {
    color: #000000;
}




