.row {
    width: 95.5%;
    margin-left: 50px;
    margin-right: 50px;
}

.style-banner {
    text-align: center;
    padding-top: 11em;
}

.style-banner h4 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
    text-shadow: 2px -1px 4px #000;
}

.gallery-solo img {
    height: 250px;
    margin: 5px;
    margin-top: 0px;
}

.gallery-solo p {
    background-color: rgba(0, 179, 129, 0.7);
    color: #ffffff;
    text-align: center;
    margin: 5px;
    margin-bottom: 0px;
    font-weight: bolder;
}
